42343_mif.zip
42343_shp
border.dbf
border.mshp
border.shp
border.shx
prcphq.002014.month.txt
prcphq.002019.month.txt
prcphq.002020.month.txt
prcphq.003017.month.txt
prcphq.003023.month.txt
prcphq.003027.month.txt
prcphq.003028.month.txt
prcphq.003030.month.txt
prcphq.004006.month.txt
prcphq.004035.month.txt
prcphq.005004.month.txt
prcphq.005008.month.txt
prcphq.005014.month.txt
prcphq.006011.month.txt
prcphq.006045.month.txt
prcphq.006048.month.txt
prcphq.006055.month.txt
prcphq.007007.month.txt
prcphq.007011.month.txt
prcphq.007014.month.txt
prcphq.007020.month.txt
prcphq.007049.month.txt
prcphq.007053.month.txt
prcphq.007057.month.txt
prcphq.007080.month.txt
prcphq.007090.month.txt
prcphq.007095.month.txt
prcphq.007169.month.txt
prcphq.007197.month.txt
prcphq.008013.month.txt
prcphq.008066.month.txt
prcphq.008079.month.txt
prcphq.008088.month.txt
prcphq.008091.month.txt
prcphq.008106.month.txt
prcphq.008141.month.txt
prcphq.008147.month.txt
prcphq.009503.month.txt
prcphq.009519.month.txt
prcphq.009520.month.txt
prcphq.009551.month.txt
prcphq.009557.month.txt
prcphq.009561.month.txt
prcphq.009564.month.txt
prcphq.009591.month.txt
prcphq.009594.month.txt
prcphq.009619.month.txt
prcphq.009739.month.txt
prcphq.010032.month.txt
prcphq.010037.month.txt
prcphq.010039.month.txt
prcphq.010041.month.txt
prcphq.010045.month.txt
prcphq.010091.month.txt
prcphq.010092.month.txt
prcphq.010112.month.txt
prcphq.010123.month.txt
prcphq.010126.month.txt
prcphq.010133.month.txt
prcphq.010149.month.txt
prcphq.010505.month.txt
prcphq.010525.month.txt
prcphq.010536.month.txt
prcphq.010537.month.txt
prcphq.010541.month.txt
prcphq.010582.month.txt
prcphq.010592.month.txt
prcphq.010611.month.txt
prcphq.010636.month.txt
prcphq.010658.month.txt
prcphq.010668.month.txt
prcphq.010670.month.txt
prcphq.010795.month.txt
prcphq.011010.month.txt
prcphq.012011.month.txt
prcphq.012013.month.txt
prcphq.012029.month.txt
prcphq.012052.month.txt
prcphq.012065.month.txt
prcphq.012067.month.txt
prcphq.012108.month.txt
prcphq.013002.month.txt
prcphq.013005.month.txt
prcphq.013006.month.txt
prcphq.013017.month.txt
prcphq.014015.month.txt
prcphq.014042.month.txt
prcphq.014401.month.txt
prcphq.014825.month.txt
prcphq.014902.month.txt
prcphq.015019.month.txt
prcphq.015085.month.txt
prcphq.015086.month.txt
prcphq.015135.month.txt
prcphq.015528.month.txt
prcphq.015546.month.txt
prcphq.015553.month.txt
prcphq.015590.month.txt
prcphq.015593.month.txt
prcphq.016005.month.txt
prcphq.016006.month.txt
prcphq.016009.month.txt
prcphq.016022.month.txt
prcphq.016027.month.txt
prcphq.016028.month.txt
prcphq.016032.month.txt
prcphq.016033.month.txt
prcphq.016039.month.txt
prcphq.016040.month.txt
prcphq.016055.month.txt
prcphq.016083.month.txt
prcphq.017004.month.txt
prcphq.017024.month.txt
prcphq.017031.month.txt
prcphq.018001.month.txt
prcphq.018002.month.txt
prcphq.018023.month.txt
prcphq.018031.month.txt
prcphq.018033.month.txt
prcphq.018045.month.txt
prcphq.018049.month.txt
prcphq.018057.month.txt
prcphq.018058.month.txt
prcphq.018063.month.txt
prcphq.018065.month.txt
prcphq.018069.month.txt
prcphq.018073.month.txt
prcphq.018106.month.txt
prcphq.019001.month.txt
prcphq.019032.month.txt
prcphq.019061.month.txt
prcphq.020005.month.txt
prcphq.020020.month.txt
prcphq.020053.month.txt
prcphq.021073.month.txt
prcphq.022000.month.txt
prcphq.022009.month.txt
prcphq.022020.month.txt
prcphq.022801.month.txt
prcphq.022809.month.txt
prcphq.022815.month.txt
prcphq.023721.month.txt
prcphq.024501.month.txt
prcphq.024511.month.txt
prcphq.024515.month.txt
prcphq.024521.month.txt
prcphq.024535.month.txt
prcphq.025004.month.txt
prcphq.025015.month.txt
prcphq.025018.month.txt
prcphq.025507.month.txt
prcphq.026010.month.txt
prcphq.026025.month.txt
prcphq.026026.month.txt
prcphq.027005.month.txt
prcphq.028004.month.txt
prcphq.029004.month.txt
prcphq.029032.month.txt
prcphq.029034.month.txt
prcphq.029048.month.txt
prcphq.031011.month.txt
prcphq.031055.month.txt
prcphq.032018.month.txt
prcphq.032032.month.txt
prcphq.032040.month.txt
prcphq.032044.month.txt
prcphq.033035.month.txt
prcphq.033060.month.txt
prcphq.033073.month.txt
prcphq.033082.month.txt
prcphq.035010.month.txt
prcphq.035070.month.txt
prcphq.036007.month.txt
prcphq.036026.month.txt
prcphq.036028.month.txt
prcphq.036051.month.txt
prcphq.037001.month.txt
prcphq.037010.month.txt
prcphq.037043.month.txt
prcphq.037049.month.txt
prcphq.037051.month.txt
prcphq.038002.month.txt
prcphq.038024.month.txt
prcphq.039037.month.txt
prcphq.039040.month.txt
prcphq.039250.month.txt
prcphq.040013.month.txt
prcphq.040014.month.txt
prcphq.040043.month.txt
prcphq.040082.month.txt
prcphq.040094.month.txt
prcphq.040152.month.txt
prcphq.040428.month.txt
prcphq.041011.month.txt
prcphq.041013.month.txt
prcphq.041024.month.txt
prcphq.041050.month.txt
prcphq.041079.month.txt
prcphq.041082.month.txt
prcphq.042003.month.txt
prcphq.042023.month.txt
prcphq.043026.month.txt
prcphq.043035.month.txt
prcphq.043038.month.txt
prcphq.044002.month.txt
prcphq.044026.month.txt
prcphq.044042.month.txt
prcphq.044054.month.txt
prcphq.044168.month.txt
prcphq.045017.month.txt
prcphq.045022.month.txt
prcphq.046037.month.txt
prcphq.046042.month.txt
prcphq.047029.month.txt
prcphq.047031.month.txt
prcphq.047033.month.txt
prcphq.047039.month.txt
prcphq.047045.month.txt
prcphq.047053.month.txt
prcphq.048031.month.txt
prcphq.048039.month.txt
prcphq.049023.month.txt
prcphq.050004.month.txt
prcphq.050018.month.txt
prcphq.050028.month.txt
prcphq.050031.month.txt
prcphq.050052.month.txt
prcphq.051033.month.txt
prcphq.051049.month.txt
prcphq.052019.month.txt
prcphq.053003.month.txt
prcphq.053018.month.txt
prcphq.054003.month.txt
prcphq.054004.month.txt
prcphq.054036.month.txt
prcphq.055045.month.txt
prcphq.055055.month.txt
prcphq.055063.month.txt
prcphq.056023.month.txt
prcphq.058012.month.txt
prcphq.058063.month.txt
prcphq.059019.month.txt
prcphq.060026.month.txt
prcphq.060027.month.txt
prcphq.061000.month.txt
prcphq.061010.month.txt
prcphq.061014.month.txt
prcphq.061071.month.txt
prcphq.062021.month.txt
prcphq.062026.month.txt
prcphq.063005.month.txt
prcphq.064008.month.txt
prcphq.065022.month.txt
prcphq.068016.month.txt
prcphq.068034.month.txt
prcphq.069006.month.txt
prcphq.069018.month.txt
prcphq.070027.month.txt
prcphq.070028.month.txt
prcphq.072150.month.txt
prcphq.073012.month.txt
prcphq.073038.month.txt
prcphq.074007.month.txt
prcphq.074128.month.txt
prcphq.075012.month.txt
prcphq.075050.month.txt
prcphq.075056.month.txt
prcphq.076031.month.txt
prcphq.076063.month.txt
prcphq.077008.month.txt
prcphq.077030.month.txt
prcphq.077039.month.txt
prcphq.078043.month.txt
prcphq.078078.month.txt
prcphq.079010.month.txt
prcphq.079036.month.txt
prcphq.080004.month.txt
prcphq.080009.month.txt
prcphq.080065.month.txt
prcphq.082001.month.txt
prcphq.082068.month.txt
prcphq.083032.month.txt
prcphq.084016.month.txt
prcphq.084030.month.txt
prcphq.085046.month.txt
prcphq.085096.month.txt
prcphq.086117.month.txt
prcphq.086131.month.txt
prcphq.087034.month.txt
prcphq.087043.month.txt
prcphq.087053.month.txt
prcphq.088060.month.txt
prcphq.089005.month.txt
prcphq.089033.month.txt
prcphq.090135.month.txt
prcphq.091011.month.txt
prcphq.091044.month.txt
prcphq.091109.month.txt
prcphq.092012.month.txt
prcphq.092037.month.txt
prcphq.094061.month.txt
prcphq.094063.month.txt
prcphq.095016.month.txt
prcphq.097091.month.txt
prcphq.098000.month.txt
prcphq.099001.month.txt
prcphq.099005.month.txt
